* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(200px, 800px);
  padding: 1em;
  justify-content: center;
  font-family: "Vollkorn", serif;
  font-size: 1.4em;
  color: rgb(47, 54, 64);
}

a {
  color: rgb(238, 127, 0);
}

header h1 {
  line-height: 1.1;
}
